@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap%27");

body {
    font-family: "Roboto", serif;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

//media queries

//Global props

//Nav 
.wrap-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $pink;
}
.head-logo-img  {
    width: 42%;
    margin-left: $smallMargin;
}
.cart-wrap-nav {
    margin-right: $smallMargin;
}
.cart-icon-nav {
    font-size: 2em;
}
//article-sell
.separation {
    width: 100%;
    height: 81px;
    background-color: white;
}
.container-pages {
    width: 100%;
    height: 100%;
    background-color: $pink;
}
#wrap-articles {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.wrapper-art {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 15px 15px 0 0;
   > a {
       text-decoration: none;
       color: black;
   }
}

.frame-sell {
    padding: 1.5em;
    width: 60%;
    
}
.img-article {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.name-article {
    font-weight: 600;
    font-size: 1.8em;
}
.price-article,  .descrip-article {
    font-weight: 500;
    font-size: 1em;
}