.container-page-order {
    display: flex;
    flex-direction: column;
    background-color: #f3e9f1;
    flex-wrap: nowrap;
    align-items: center;
}
#wrapper-page-order {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-items: center;
    text-align: center;
}
