.art-sell {
    @include leftRightMargin;

}
.wrap-img-article > img {
    width: 100%;
    border-radius: 1em;
    margin-top: 2em;
}
.wrap-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item-center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.wrap-article-right-side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 42px;
}
.wrap-article-left-side {
    margin-top: 42px;
        
}
.wrap-button {
    order: 3;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    flex-direction: row;
}
.wrap-description-article {
    background-color:white;
    border-radius:1em;
    padding: 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    box-shadow: 1px 1px 6px black;
}
 .list-option-article {
    width: 16em;
    margin-bottom: 32px;
 }
 .lense-selector {
     background-color: white;
     font-size: 1em;
     font-weight: 500;
     width: 45%;
     height: 45px;
     cursor: pointer;
 }

 @media screen and  (min-width: 900px) { 

    .item-center {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .wrap-button {
        order: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
         
    }
     .wrap-img-article > img {  
        width: 65%;
        margin-bottom: 35px;
        margin-top: 0;
     }
     .art-sell {
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: flex-end;
     }
     
 }