@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap%27");

body {
    font-family: "Roboto", serif;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

//media queries

//Global props

//Nav 
.wrap-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $pink;
}
.head-logo-img  {
    width: 42%;
    margin-left: $bigMargin;
}
.cart-wrap-nav {
    margin-right: $bigMargin;
}
.cart-icon-nav {
    font-size: 3.5em;
}
//article-sell
.separation {
    width: 100%;
    height: 80px;
    background-color: white;
}
.container-pages {
    width: 100%;
    height: 100%;
    background-color: $pink;
}
.wrap-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.frame-sell {
    border: black 1px solid;
}